In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/numTable.csv')

In [3]:
df.head()

         date  num        num2   str    str2
0  2014-04-30  185  616.615036  girl   green
1  2014-05-22  736  859.457505   boy    blue
2  2014-05-26   59  794.357647   boy   green
3  2014-06-10  927  797.636134  girl  purple
4  2014-07-20  411  107.602511  girl   green

In [6]:
df.shape

(50, 5)

In [8]:
df['diff'] = 0
sum = 0
for inx in df.index:
    if(df['num'][inx] > df['num2'][inx]):
        df["diff"][inx] = 1
        sum = sum + 1
    else:
        df['diff'][inx] = 0
print(sum)

C:\Users\pc\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\pc\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

24

In [ ]:
#Sum is 24