In [36]:
import pandas as pd

In [37]:
air = pd.read_csv("data/air_quality.csv")

In [38]:
air.head()

              datetime  station_antwerp  station_paris  station_london
0  2019-05-07 02:00:00              NaN            NaN            23.0
1  2019-05-07 03:00:00             50.5           25.0            19.0
2  2019-05-07 04:00:00             45.0           27.7            19.0
3  2019-05-07 05:00:00              NaN           50.4            16.0
4  2019-05-07 06:00:00              NaN           61.9             NaN

In [39]:
air["london_mg_per_cubic"] = air["station_london"] * 1.882
air.head()

,datetime,station_antwerp,station_paris,station_london,london_mg_per_cubic
0,2019-05-07 02:00:00,NaN,NaN,23.0,43.286
1,2019-05-07 03:00:00,50.5,25.0,19.0,35.758
2,2019-05-07 04:00:00,45.0,27.7,19.0,35.758
3,2019-05-07 05:00:00,NaN,50.4,16.0,30.112
4,2019-05-07 06:00:00,NaN,61.9,NaN,NaN

In [40]:
air.index

RangeIndex(start=0, stop=1035, step=1)

In [41]:
air['isPolluted'] = 'N'

In [42]:
air.head()

,datetime,station_antwerp,station_paris,station_london,london_mg_per_cubic,isPolluted
0,2019-05-07 02:00:00,NaN,NaN,23.0,43.286,N
1,2019-05-07 03:00:00,50.5,25.0,19.0,35.758,N
2,2019-05-07 04:00:00,45.0,27.7,19.0,35.758,N
3,2019-05-07 05:00:00,NaN,50.4,16.0,30.112,N
4,2019-05-07 06:00:00,NaN,61.9,NaN,NaN,N

In [43]:
air["station_london"].min()

0.0

In [44]:
air['station_london'][0]

23.0

In [ ]:
import numpy as np
#Air IsPolluted Function body
for it in air.index:
    if(np.isnan(air["station_london"][it])):
        air["station_london"][it] = 0
    if(air["station_london"][it] > 26.0):
        air["isPolluted"][it] = "Y"
    else:
        air["isPolluted"][it] = "N"
air.head()

C:\Users\pc\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\pc\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [ ]:
air.head()